*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    caret-color: transparent;
}
h3{
    text-transform: uppercase;
    letter-spacing: 2px;
}
.container{
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: center;
    background: #e3e3e3;
    min-height: 100vh;
}
.card{
    display: flex;
    align-items: center;
    overflow: visible;
    justify-content: center;
    min-height: 400px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    box-shadow: 16px 16px 32px #c8c8c8, -16px -16px 32px #fefefe;
    background: #e3e3e3;
}
.line{
    width: 100px;
    height: 3px;
    background: #FFF;
}
.inputBox{
    position: relative;
    overflow: visible;
    width: 250px;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border-left: 2px solid #000;
    border-bottom: 1px solid #000;
    transition: 0.1s;
}
.inputBox span{
    margin-top: 5px;
    position: absolute;
    left: 3px;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: .5s;
    letter-spacing: 3px;
}
/* animations */
.inputBox input:valid~span,
.inputBox input:focus~span{
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 7px 10px;
    letter-spacing: 0.2em;
    color: #FFF;
    border-radius: 10px;
    background-color: #000;
    border: 2px;
}
.inputBox input:valid,
.inputBox input:focus{
    border: 1px solid #000;
}
button{
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #000;
    background-color: transparent;
    transition: .5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}
button:hover{
    background-color: #000;
    color: #fff;
}
.initiative p{
    display: flex;
    width: 100%;
    position: absolute;
    align-items: center;
    justify-content: center;
    font-family: georgia;
    height: 8vh;
    font-size: 28px;
    word-spacing: 8px;
    margin-top: 80px;
    text-transform: uppercase;
    font-weight: bold;
}
.in p{
    font-family: mono;
    font-size: 16px;
    margin-top: 90px;
    font-weight: lighter;
}
@media only screen and (max-height: 586px) {
    .initiative p{
        display: none;
        overflow: hidden;
    }
  }